NODE_ENV=production
GEMINI_API_KEY=
APP_URL=
EVOLUTION_API_URL=
EVOLUTION_API_KEY=
EVOLUTION_INSTANCE_NAME=
ASAAS_API_KEY=
ASAAS_ENVIRONMENT=production
ASAAS_WALLET_ID=

DB_HOST=localhost
DB_PORT=3306
DB_NAME=
DB_USER=
DB_PASSWORD=
